.idea/
.vscode/
*.swp
*.swo
.DS_Store
local*

#ignore venvs
venv/
.venv/

#ignore the llama factory stuff
# Ignore any folder that begins with llamafactory
train/LLaMA-Factory

#ignore cache
*.pyc

# Ignore all JSON files
*.json
# Ignore all JSONL files
*.jsonl

# Ignore all files with 'checkpoint' in the filename
*checkpoint*