.idea/
.vscode/
*.swp
*.swo
.DS_Store
local*

# Ignore any file or directory with 'venv' in the name
*venv*
*venv*/
venv/
venv2/

#ignore cache
*.pyc

#explicitly ignore our cft and genrm datasets as they are simply too big
# Ignore all JSON files containing 'cft' anywhere in their name
# need to download these using the tools/scripts provided
*cft*.json
*CFT*.json
*genrm*.json

#ignore the backup folder
.git_backup
.git_backup/
clean/

# Ignore all FILES in checkpoint directories
# this is NOT THE SAME as ignoring the entire directory
# this is finding a directory and ignoring FILES inside the directory
# this allows us to ignore stuff in a directory EXCEPT for a few files
*checkpoint*/**/*

# But don't ignore these specific files
!*checkpoint*/**/*test_qwen*.json

# ignore any FILES inside any directory with output in the name
*output*/**/*

# But don't ignore these specific files
# keep any png files
!*output*/**/*.png
# keep all the logs and states
!*output*/**/*log*
!*output*/**/*state*

# #ignore all files with result in the name
# *result*
# # EXCEPTION: it is an image or jpeg, we can upload this
# !*results*.png
# !*results*.jpg
# # Ignore all directories with 'result' in the name
# *result*/

